<html>
  <head>
	  <body>
      <div>
				<h2>welcome,complete your profile<h2>
      </div>
        <a href="/profiles/new" style="position: absolute;
				left: 800px; 
				top: 10px; 
				"> <h2>profile</h2> </a>
    </body>
  </head>
</html>